* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: 0 auto; 
    background-color: rgb(186, 214, 144)
}


.heading-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    column-count: 2;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.heading-container header {
    grid-area: header;
    padding-top: 5em;
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    margin-right: 1.25em;
    margin-bottom: 1.5em;
    
}

.heading-container h1 {
    padding-left: 1.5em;
}


.logo {
    justify-items: left;

}

.blue-jay-icon {
    width: 25%;
    height: auto;
}

.description-container {
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
    margin-top: 20px;
}

.description {

    font-weight: bold;
    text-transform: uppercase;
    padding: 2em;
    text-align: left;
}

.img-container {
    display: inline-block

}

.img-container img {
    width: 12.5em;
    height: 12.5em;
    border-radius: 5%;
}

.heading-container aside {
    display: grid;
    padding-top: 5em;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}

.heading-container nav ul li {
    text-align: left;
    padding: .25em;
    list-style-type: none;
}

.heading-container nav ul li a {
    text-decoration: none;
    display: inline-block;
}

.heading-container nav ul li a:hover {
    background-color: rgb(144, 156, 214);
}


section h2 {
    font-size: 1em;
    margin: .25em;
    text-align: center;
}

section p {
    display: inline;
    text-align: center;
}

section img {
    width: 12.5em;
    height: auto;
    margin: 1em;
    border-radius: 5%;
}

.img-left {
    float: left;
}

.img-right {
    float: right;
}

section p sup a {
    font-size: 0.5em;
}

section ul li {
    text-align: left;
    padding: .25em;
    padding-left: 0.25em;
}

.backToTop {
    font-size: 0.15em;
    display: inline-block;
    margin-top: 0.5em;
    align-items: center;
}

table thead {
    font-weight: bold;
    text-align: left;
}

.Nesting {
    margin-top: 0.5em;
}

table tr td {
    border: 1px solid gray;
}

footer {
    margin-bottom: 2.5em;
}

footer p {
    font-size: 0.5em;
}
