
 * {
    box-sizing: border-box;
}

:root {
    --first: rgb(235, 251, 202);
    --second: rgb(181, 239, 249);
    
  }

body {
    /* -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; */
    background-color:rgb(244, 239, 248);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Added */
    font-size: 1.4em; /* Added */
    font-stretch: 100%;
    margin: auto 1em; /* Added */
    color:rgb(55, 54, 54);

} 

a {
    color: #0060a9;
    text-decoration: none;
    
}
a:hover{
    color:#ed0cfd
}
div {
    display: block;
    unicode-bidi: isolate;
}
.imbox01{
    display:block;
    height: 30px;
    font-size: large;
    font-style: oblique;
    font-stretch: 100%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: rgb(40, 2, 76);
    text-shadow: 0px 1px 2px rebeccapurple;
    background-color: rgb(244, 239, 248);
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid rebeccapurple;
    box-shadow: 0px 2px 2px rebeccapurple;
    
}

header{
    display: block;
    background-color:rgb(244, 239, 248);
}

.header_container{
    height:150px;
    display:flex;
    width:100%;
    flex-direction: row;
    vertical-align: center; 
    justify-content: left;
    align-content: space-around;
    margin-bottom: 0px;
   
}
.header-img{
    
    margin-top: 20px;
    margin-left:20px;
    padding-left: 60px;
    padding-right:150px;
    display:flex;
    height:100px;
    align-items: stretch;
    align-self: center;
      
}

  

.search_container{
    display:flex;
    width:600px;
    display:flex;
    align-items:center;
    padding-left: 40px;
    padding-right:40px;
    justify-content: center;
    position:relative;

}

.input_box{

    position:sticky;

}

#input{
    width:400px;
    height:30px;
    outline:none;
    padding:6px 16px;
    border:1px solid rgb(55, 54, 54);
    border-radius:4px;
    display:flex;
   
    
}
 
.input_box #input:focus{
    border-color:rgb(49, 100, 240);
    border-bottom: 1px solid rgb(6, 6, 204);
    box-shadow: 0px 1px 1px rgb(49, 100, 240);
}

.input_box #input+label{
    
    display:flex;
    cursor:text;
    font-size:14px;
    font-weight:bold;
    padding: 5px;
    color:rgb(55, 54, 54);
    text-align: center;

}

.input_box #input:focus + label{

    color:rgb(6, 6, 204);
    
}

.imbox02{
    

    display:flex;
    height:150px;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgb(61, 60, 60);
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}

.imbox02 h4{
    width:350px;
    text-align: center;
}

.imbox02 div {
    width:350px;
    text-align: center;

}


.sticky {
    position: sticky;
    top:0px;
    padding: 5px;
   
}

.nav_container{
    
    width: 100%;
    display: flex;
    height:60px;
    list-style-type:none;
    padding:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    place-content: start;
    padding-left: 50px;
    background-color: #0060a9;
    align-content: center;
    border-color:rgb(49, 100, 240);
    border-bottom: 1px solid rgb(6, 6, 204);
    box-shadow: 0px 1px 1px rgb(86, 87, 90);
   
}

.nav_container li{
    display: flex;
    place-self: center; 
    align-items: center;
    
   
} 

.imbox_nav{

    display:flex;
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color:white;

    
 
}
.imbox_nav:hover{
    text-decoration: underline;
    color: white;
}

.main_container03{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    background-color: white;
    

}
.article_img01{

    float:left;
    width:160px;
    height:160px;
    padding: 10px;
    margin: 1em;
    border-color:rgb(172, 177, 188);
    border-bottom: 1px solid #758796;
    box-shadow: 0px 1px 1px rgb(86, 87, 90);

}
.article_01{

    display:inline-block;
    width:100%;
    padding:30px;
    padding-top: 0px;
    border-color:rgb(172, 177, 188);
    border: 1px solid #758796;
    box-shadow: 0px 1px 1px rgb(86, 87, 90);

    
}

.content {
    text-align: justify;
}

.main_container03 section:nth-of-type(odd){
    background-color: var(--first);
}

.main_container03 section:nth-of-type(even){
    background-color: var(--second);
}
    


.footer_downcontainer{
    margin-top: 0px;
    height:50px;
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.root_im{
    padding-top:10px;
   
    height:40px;
    width: 98%;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    border-color:#0060a9;
    border-top: 1.5px solid #758796;
}




/* Nav bar CSS effect */
.navbar {
    display: none;
}

/* media queries */

@media screen and (max-width:1200px) {

    .nav_container{
        display: none;
    }

    .main_container03{
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbar {
        display: inline-block;
        overflow: hidden;
        background-color: #0060a9;
      }
      
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
    .dropdown {
        float: left;
        overflow: hidden;
      }
      
    .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
      }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
    .dropdown-content a:hover {
        background-color: #ddd;
      }
      
    .dropdown:hover .dropdown-content {
        display: block;
      }
    
}

@media screen and (max-width:1120px) {

    .imbox02 {
        display: none;
    }
    
    
}

@media screen and (max-width: 960px){

    .header_container {
        display: none;
    }


    
}

@media screen and (max-width: 480px){

    .description-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    
    
}