
 * {
    box-sizing: border-box;
}


body {
    font-size: 1.4em;
    /* background-color:rgb(244, 239, 248); */
    margin: auto 1em;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-stretch: 100%;
    color:rgb(55, 54, 54); 
}

header {
    display: block;
    background-color:rgb(244, 239, 248);
}


a {
    color: #0060a9;
    text-decoration: none;
    
}
a:hover{
    color:#ed0cfd
}
div {
    display: block;
    unicode-bidi: isolate;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px auto 180px auto;
    
    

}
/* header */

.container_header{
    grid-column:1/7;
    grid-row:1/2;
}
.infomation{
    grid-column: 1/7;
    
 }
 .container_header_01 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Replaces vertical-align */
    justify-content: space-around;
    height: 150px;
    margin-bottom: 0px;
}



.logo-img{
   
    margin-top: 20px;
    margin-left:10px;
  
    display:flex;
    height:100px;
    align-self: center;
      
}
.logo-img img{
    width:100px;
    height:100px;
    margin-right:10%;
}

.search_container{
    width:30%;
    display:flex;
    align-items:center;
    
    justify-content: center;
    position:relative;
    
    
}
.input_box{

    position:sticky;
    width:80%;
    
    
}
#input{
    display:flex;
    width:100%;
    height:30px;
    outline:none;
   
    border:1px solid rgb(55, 54, 54);
    border-radius:4px;
   
   
    
}
 
.input_box #input:focus{
    border-color:rgb(49, 100, 240);
    border-bottom: 1px solid rgb(6, 6, 204);
    box-shadow: 0px 1px 1px rgb(49, 100, 240);
}

.input_box #input+label{
    
    display:flex;
    cursor:text;
    font-size:14px;
    font-weight:bold;
    padding: 5px;
    color:rgb(55, 54, 54);
    text-align: center;

}
.input_box #input:focus + label{

    color:rgb(6, 6, 204);
    
}
.imbox01{
    display:block;
 
    height: 30px;
    font-size: large;
    font-style: oblique;
    font-stretch: 100%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: rgb(40, 2, 76);
    text-shadow: 0px 1px 2px rebeccapurple;
    background-color: rgb(244, 239, 248);
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid rebeccapurple;
    box-shadow: 0px 2px 2px rebeccapurple;
    
}

.welcomeinfo{
    
    display:flex;
    width:40%;
    height:150px;
    font-stretch: 100%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(61, 60, 60);
   
    line-height: 30px;
    
    text-align: center;
    
    text-overflow: ellipsis;
    overflow: hidden;
    flex-direction: column;
    margin-top: 30px;
    
}
.welcomeinfo h5{
    margin-top: 0px;
}
/* when the screen is smaller the welcome information disapears */
@media screen and (max-width:960px) {
    .welcomeinfo{
    
        display:none;
       
    }
    
}
/* naviation bar */

.nav_container{
    grid-column: 1/7;
    grid-row:2/3;
    display: flex;
    height:60px;
    list-style-type:none;
    padding:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    place-content: start;
    padding-left: 50px;
    background-color: #0060a9;
    align-content: center;
    border-color:rgb(49, 100, 240);
    border-bottom: 1px solid rgb(6, 6, 204);
    box-shadow: 0px 1px 1px rgb(86, 87, 90);
    position: sticky;
    top:0px;
    z-index: 4;
    
    
}
.nav_container li{
    display: flex;
    place-self: center; 
    align-items: center;
    
   
} 

.imbox_nav{

    display:flex;
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color:white;

    
 
}
.imbox_nav:hover{
    text-decoration: underline;
    color: white;
}
.navbar{
    display:none;
}
.sticky{
    position: sticky;
    top:0px;
    z-index: 4;
   
}

/* media queries */

@media screen and (max-width:1200px) {

    .nav_container{
        display: none;
    }

    .navbar {
        grid-column: 1/7;
        width:180px;
        grid-row: 2/3;
        display: inline-block;
        overflow: hidden;
        background-color: #0060a9;
        
        
      }
      
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
    .dropdown {
        float: left;
        overflow: hidden;
      }
      
    .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
      }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
    .dropdown-content a:hover {
        background-color: #ddd;
      }
      
    .dropdown:hover .dropdown-content {
        display: block;
      }
    
}
/* main*/
.main_container{
    grid-column:1/7;
    grid-row:3/4;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    margin-bottom: 0px;
    display:flex;
    flex-wrap: wrap;

}


.main_imagecontainer{
    position: relative;
    width:100%;
    display:flex;
    flex-direction: row;
    background-color: white;
    justify-content:left;
   
    
   
}
#main_image{
    padding-top: 60px;
    width: 80%;      
    height: 80%;      
    object-fit: contain; 
    
   
}
.mainimage_description_02{
    position:absolute;
    top:20%;
    right:2%;
    display:flex;
    flex-direction:column;

    margin-right:60px;
    
   
}
.focus_spot1{

    height:60px;
    width:100%;
    display:flex;
    text-align: center;
    flex-direction: row;
   

}
.focus_lable{

    align-self: center;
    height:20px;
    width:20px;
    animation-name: rotate1;
    animation: rotate1 5s linear infinite;
    
    
}
@keyframes rotate1{
    from{
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} 
.focus_text{
    padding-left: 10px;
    text-align: left;
    height:40px;
    width:100%;
    margin-left:10px;
}
/* media queries */
@media screen and (max-width:1200px) {
    .focus_text{
        font-size: medium;
        padding-left: 10px;
        text-align: left;
        height:20px;
        width:100%;
        margin-left:10px;
    }
    .focus_spot1{

        height:30px;
        width:100%;
        display:flex;
        text-align: center;
        flex-direction: row;
   

    }
    .mainimage_description_02{
        position:absolute;
        top:20%;
        right:2%;
        display:flex;
        flex-direction:column;
        margin-right:30px;
        
       
    }
}
@media screen and (max-width:796px) {
    .mainimage_description_02{
        display:none;
        
       
    }
    #main_image{
        padding-top: 60px;
        width: 100%;      
        height: 100%;      
        object-fit: contain; 
        align-self: center;
       
    }
}
.focus_text:hover{
    transform: scale(1.09);
}

/* periods table */
.periods_container{
  
    padding-top:60px;
    display:flex;
    justify-content: space-between;
    position:relative;
    width: 100%;
    padding-bottom: 0px;
}

.table_description thead{
    height:45px;
}

.odd_row{
    background-color: #eeeac4;
    height:45px;
    width: 50%;
    
}
.odd_row:hover{
    background-color: #de8808;
}
.even_row{
    background-color: #fced44;
    height:45px;
    width: 50%;
}
.even_row:hover{
    background-color: #de8808
}
.th_theme{
   
    text-align: left;
    font-size: 24px;
    font-weight:400;
   

}
.table_container{
    padding-top: 60px;
}
.table_description{
    border-collapse: collapse;
    border: 3px solid #de8808;
    width:60%;
}
.table_description td{
  
    font-size: 16px;
    font-weight: 200;
    width: 50%;
    text-align: left;
  
   
  
}
.table_description th{
    padding-left: 10%;
    font-size: 16px;
    font-weight: 200;
    width: 50%;
    text-align: left;
  
   
}
/* description section with text and gallery*/
.description_container{

    display:grid;
   
    grid-template-columns: repeat(3, 1fr);

    flex-direction:row;
    justify-content: left;

}


.context_container{
    grid-column: 1/3;
    margin-right:30px;
    text-align: left;
    background-color:  white;
  
    
    

}
.context_container p{
    column-count: 2;
    column-gap: 10px;
}

@media screen and (max-width:1200px) {

    .description_container{
        display:flex;
   

        flex-direction:column;
        justify-content: left;
 
    

    }
    .context_container{
   
    margin-right:30px;
    text-align: left;
    background-color:  white;
  
    
    

    }
    .context_container p{
    column-count:  initial;
   
    }
}


.gallery {
    grid-column: 3/4;
    margin-left: 20px;
   
    flex-direction: column;
    justify-content: center;

    display: flex;
    
   
  }
  @media screen and (max-width:1200px){
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
        grid-template-rows: auto;             /* Row height adjusts to content */
        gap: 10px;  
        place-items: center;

    }
      
    
  }
 

  .gallery_text #number_01{
    font-size: 60px;
    color: grey;
    text-align: center;
    align-self: center;
    

    

}
.gallery_text{
    margin-top: 20px;
    width:100%;
    margin-left: 10%;
    
    
}

.gallery-item{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: start;
}
  .gallery-item img{
    align-self: center;
    margin-top: 40px;
    width:80%;
    aspect-ratio: 1/ 1;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }
  
  .gallery-item img:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }
  
#number_01 + span{
    margin-left: 10px;
    display:inline-block;
    width:200px;
    text-wrap: wrap ;
    text-align: left;
    line-height: 35px;
    color: grey;
}
#number_01 + span >span{
  
   font-style: oblique;
   color: black;
   font-weight: bold;

}


#description{
 padding-top: 60px;
}
#species{
 padding-top: 60px;
}
#diet{
padding-top: 60px;
}
.video_container{
    padding-top:30px;
}






.back_to_top{
    margin-top:20px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: large;
    color:#0060a9;
}

.back_to_top :hover{
    
    color:#ed0cfd;
    text-decoration:underline;
}
.foot_container{
    padding-top: 60px;
    grid-column: 1/7;
    grid-row:4/8;
    padding-top:10px;
   
    width: 98%;
   
    margin-top: 30px;
    
    border-top: 1.5px solid #758796;

}
#reference{
    margin-left: 20px;
    margin-right: 20px;
}
#reference p{
    font-size: medium;
}

.footer_downcontainer{
    
   
    margin-top: 0px;
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.root_im{
    padding-top:10px;
   
    height:40px;
    width: 98%;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    
    border-top: 1.5px solid #758796;
    
    

}



/*species periods table */

.species_periods{

   
    text-align: center;
    font-size: 16px;
    border-collapse: collapse;
    
    display:block;
    position:relative;
    left:10px;
    flex-grow: 1;
}
.species_periods td{
   width: 200px;
   height:10px;
   border-left:black solid 1px; 
   border-right:black solid 1px;
   
    
}
.species_periods th{
    font-size: 16px;
    font-weight:400;
    color: black;
}
.periods_0{
    background-color: #0060a9;
    border: black solid 1px;
}
.periods_01{
    background-color: #fced44;
    border: black solid 1px;

}
.periods_02{
    background-color: #fd0c8d;
    border: black solid 1px;
    
}
.periods_03{
    background-color: #ed0cfd;
    border: black solid 1px;
    
}
.periods_04{
    background-color: #02a631;
    border: black solid 1px;
    
}
.periods_text{
    width: 200px;
    height:15px;
    text-align: left;
    font-size: 12px;

}
.periods_text_03{
    width: 200px !important;
    height:15px !important;
    display:flex;
    flex-direction: row;
    position: relative;
    align-items: stretch;

} 

.periods_text_01{
   
    display:flex;
    height:100%;
    font-size: 12px;
    flex-grow: 1;
    justify-content: right;
   
    
}
.periods_text_02 {

   
    display:flex;
    font-size: 12px;
    flex-grow: 1;
    align-self: stretch;
 
}
.focus_spot6{
    border-radius: 15%;
    height: 30px;
    width: 10%;
    content: "";
    border:rgb(73, 11, 243) 3px solid;
    display: block;
    position:absolute;
    top:75px;
    left:5%;
    overflow: hidden;
   
    
    
}